<template>
  <div class="flex flex-col space-between h-screen pt-2">
    <div class="flex-grow">
      <dashboard-counters
        :milestone="milestone"
        :issues="issues"
        :todos="todos"
      />
      <issue-list :issues="issues" />
    </div>
    <footer-bar :user="currentUser" />
  </div>
</template>

<script>
import DashboardCounters from "@/components/dashboard_counters.vue";
import FooterBar from "@/components/footer_bar.vue";
import IssueList from "@/components/issue_list.vue";

import getActiveMilestone from "@/utils/get_active_milestone";
import getIssuePercentage from "@/utils/get_issue_percentage";
import issuesQuery from "@/graphql/issues.gql";
import userQuery from "@/graphql/user.gql";

export default {
  components: {
    DashboardCounters,
    FooterBar,
    IssueList,
  },
  data() {
    return {
      issues: [],
      currentUser: { todos: { nodes: [] } },
    };
  },
  apollo: {
    issues: {
      query: issuesQuery,
      variables() {
        return {
          milestoneTitle: this.milestone,
          assigneeUsername: this.$route.params.username,
        };
      },
      update: ({ project }) =>
        project.issues.nodes
          .map((issue) => ({
            ...issue,
            completion: getIssuePercentage(issue),
          }))
          .sort((a, b) => (a.completion > b.completion ? 1 : -1)),
      pollInterval: 60 * 1000,
    },
    currentUser: {
      query: userQuery,
      pollInterval: 60 * 1000,
    },
  },
  computed: {
    milestone() {
      return getActiveMilestone(new Date(Date.now()));
    },
    todos() {
      return this.currentUser?.todos?.nodes || [];
    },
  },
};
</script>
