<template>
  <div class="rounded overflow-hidden bg-gray-900 text-center">
    <h2 class="bg-gray-800 px-4 py-2 font-bold">{{ title }}</h2>
    <strong class="px-4 py-2 text-5xl">{{ count }}</strong>
  </div>
</template>

<script>
export default {
  props: {
    count: {
      type: Number,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
  },
};
</script>
