<template>
  <div class="bg-gray-900 px-4 py-2 mt-2 flex justify-between items-center">
    <current-user
      v-if="user && user.username"
      :avatar-url="user.avatarUrl"
      :username="user.username"
    />
    <div v-else></div>
    <login-with-gitlab class="self-end" />
  </div>
</template>

<script>
import LoginWithGitlab from "@/components/login_with_gitlab.vue";
import CurrentUser from "@/components/current_user.vue";

export default {
  components: {
    CurrentUser,
    LoginWithGitlab,
  },
  props: {
    user: {
      type: Object,
      required: false,
      default: () => ({}),
    },
  },
};
</script>
